<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCg8vE3DQmq7nIR1TxE4pC56bfgFkxpcxk</string>
	<key>GCM_SENDER_ID</key>
	<string>239655716279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myapp</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-5e8eb</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-5e8eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239655716279:ios:4f6aee201094f044aa5432</string>
</dict>
</plist>